// pagination start

ul.pagination.pagination--primary
	li.back
		a(href="#") Back
	li.number.current
		a(href="#") 1
	li.number
		a(href="#") 2
	li.number
		a(href="#") 3
	li.number
		a(href="#") 4
	li.number
		a(href="#") 5
	li.next
		a(href="#") Next

// pagination end