// text section start

section.section.text-section
	.container
		.row
			.col-12
				h3.title . Just like us
				p.subtitle Create technology is always based on perfect relationships

// text section end