// special offer start

section.section.special-offer.no-padding-bottom
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('special offer', 'Information', 'for Download')
	.container
		.row.offset-margin
			.col-md-6

				// item start
				.item-holder
					.offer-item
						.img-holder
							+svg('pdf')
						h4.title Clean Energy without CO2
						.text-holder
							p.text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black
						+btn-black('Donwload PDF')
				// item end

			.col-md-6

				// item start
				.item-holder
					.offer-item
						.img-holder
							+svg('pdf')
						h4.title Energy for Business
						.text-holder
							p.text Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray
						+btn-black('Donwload PDF')
				// item end

// special offer end