// project cases start

section.section.project-cases
	.container
		.row
			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-1.jpg" alt="img")
					.description
						h5.title Solar Factory in NY
						a.with--line(href="cases-details.html") Explore more
				// item start

			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-5.jpg" alt="img")
					.description
						h5.title Electricity Station
						a.with--line(href="cases-details.html") Explore more
				// item start

			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-2.jpg" alt="img")
					.description
						h5.title Solar Field in Los Angeles
						a.with--line(href="cases-details.html") Explore more
				// item start

			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-7.jpg" alt="img")
					.description
						h5.title Renewable Energy Station
						a.with--line(href="cases-details.html") Explore more
				// item start

			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-3.jpg" alt="img")
					.description
						h5.title Windmill Station
						a.with--line(href="cases-details.html") Explore more
				// item start

			.col-lg-4.col-md-6

				// item start
				.cases-item
					a.img-holder(href="cases-details.html")
						.overlay
						img.img-bg(src="img/gallery-6.jpg" alt="img")
					.description
						h5.title Renewable Energy Station
						a.with--line(href="cases-details.html") Explore more
				// item start

		.container
			.row
				.col-12
					.button-holder
						+btn-transp('Show more cases')

// project cases end