// promo-slider start

.promo-slider

	// item start
	.slider-item.item--style-1
		.overlay
		.bg-holder.jarallax
			picture
				source(srcset='img/promo-1.jpg' media='(min-width: 992px)')
				img.img-bg.jarallax-img(src='img/promo-1.jpg' alt='img')  
		.container
			.row
				.col-xl-6.col-lg-7.col-md-9
					.align-container
						.align-item

							.promo-slider__wrapper-1
								h2.title Business Hand in Hand #[span with new Technology]

							.promo-slider__wrapper-2
								p.subtitle R-energy accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contribut

							.promo-slider__wrapper-3
								+btn-filled('Discover')
	// item end

	// item start
	.slider-item.item--style-2
		.overlay
		.bg-holder.jarallax
			picture
				source(srcset='img/promo-2.jpg' media='(min-width: 992px)')
				img.img-bg.jarallax-img(src='img/promo-2.jpg' alt='img')  
		.container
			.row
				.col-xl-10.offset-xl-1
					.align-container
						.align-item

							.promo-slider__wrapper-1
								h2.title Modern Technology in #[span Sun Energy]

							.promo-slider__wrapper-2
								p.subtitle R-energy accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contributing 

							.promo-slider__wrapper-3
								+btn-filled('Discover')
	// item end

	// item start
	.slider-item.item--style-3
		.overlay
		.bg-holder.jarallax
			picture
				source(srcset='img/promo-3.jpg' media='(min-width: 992px)')
				img.img-bg.jarallax-img(src='img/promo-3.jpg' alt='img')  
		.container
			.row
				.col-12
					.align-container
						.align-item

							.promo-slider__wrapper-1
								h2.title Solar #[span —] Systems
	// item end

// promo-slider end