// cart dropdown start

.cart-dropdown

	.items-holder

		// item start
		.cart-item
			.item-block
				a(href="shop-product.html").img-holder
					img.img-bg(src="img/product-1.png" alt="product")
				.text-holder
					p Power: 5.5 kWp
					a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)
					span.count 2 x $ 1200.00
			span.remove
				+svg('close')
		// item end

		// item start
		.cart-item
			.item-block
				a(href="shop-product.html").img-holder
					img.img-bg(src="img/product-2.png" alt="product")
				.text-holder
					p Power: 5.5 kWp
					a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)
					span.count 2 x $ 1200.00
			span.remove
				+svg('close')
		// item end

		// item start
		.cart-item
			.item-block
				a(href="shop-product.html").img-holder
					img.img-bg(src="img/product-3.png" alt="product")
				.text-holder
					p Power: 5.5 kWp
					a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)
					span.count 2 x $ 1200.00
			span.remove
				+svg('close')
		// item end 

		// item start
		.cart-item
			.item-block
				a(href="shop-product.html").img-holder
					img.img-bg(src="img/product-1.png" alt="product")
				.text-holder
					p Power: 5.5 kWp
					a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)
					span.count 2 x $ 1200.00
			span.remove
				+svg('close')
		// item end

	// lower start
	.cart-lower
		span.subtitle Subtotal: #[span.value $ 4350.00]
		.buttons-block
			+btn-transp('View Cart')
			+btn-filled('Checkout')
	// lower end

// cart dropdown end