// banner start

section.section.banner
	picture
		source(srcset='img/banner-bg.jpg' media='(min-width: 576px)')
		img.img-bg(src='img/banner-mobile.jpg' alt='banner')
	.container
		.row
			.col-xl-7.col-lg-8.col-md-9
				h1.title New Technology by R-energy
				p Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European
				+btn-transp('Discover')

// banner end