// we provide start

section.section.we-provide.no-padding-top.no-padding-bottom
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Services', 'We Provide', 'Creative Services')
					p Members are proactive in both undertaking and applying animal welfare scientific research, contributing being a recognised organisation in animal welfare best-practice.
	.container
		.row.offset-margin
			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('solar-panel')
					figcaption
						h4.title Solar Panel Installation
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('windmill')
					figcaption
						h4.title Windmill Installation
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('bolt')
					figcaption
						h4.title Global Energy Network
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('solar-energy')
					figcaption
						h4.title Sun Energy Analitics
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('powerlines')
					figcaption
						h4.title Technological Power Lines
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('lighting')
					figcaption
						h4.title Economical Lighting
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('supportrepair')
					figcaption
						h4.title Support and Repair
			// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					+svg('supportrepair')
					figcaption
						h4.title Recycling Excess Energy
				// item end

// we provide end