// relevant start

section.section.relevant
	.container
		.row
			.col-12
				.relevant-holder

					// relevant item start
					.relevant-item(style="background-image: url('img/relevant-bg.jpg');")
						.text-holder
							span.ribbon.event Event
							h2.title 6 Reasong
							.inner-text
								p to buy your solar panels
							+btn-filled('Buy Your Panels')
						.img-holder
							img(src="img/relevant-img-1.png" alt="img")
					// relevant item end

					// relevant item start
					.relevant-item
						.text-holder
							span.ribbon.discount -25%
							h2.title SoLar-345x
							.inner-text
								p Buy your future is now!
							+btn-filled('Detail')
						img(src="img/relevant-img-2.png" alt="img")
					// relevant item end

// relevant end