// product params start

section.section.product-params.no-padding-bottom
	.container
		.row.offset-margin
			.col-md-3.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('param-ic-1')
					figcaption
						h4.title 72 Cell
						p Multicrystalline Module
				// item end

			.col-md-3.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('param-ic-2')
					figcaption
						h4.title 320-335W
						p Power Output Range
				// item end

			.col-md-3.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('param-ic-3')
					figcaption
						h4.title 17.1%
						p Maximum Efficiency
				// item end

			.col-md-3.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('param-ic-4')
					figcaption
						h4.title 0~+5W
						p Power Output Tolerance
				// item end

// product params end