section.section.inner-heading--with-bg
	.container
		.row
			.col-xl-5.col-lg-6
				.heading.primary-heading.inner-heading
					.title-holder
						.title-block
							h3.title Products
							p.subtitle Quality Products #[br]on the Market
						.img-block
							+svg('logo')
			.col-xl-6.offset-xl-1.col-lg-6
				.heading-description
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring. Moses sole sea snail grouper discus. European eel slender.