// instagram start

section.section.instagram.no-padding-top.no-padding-bottom
	.container
		.row.align-items-end.margin-bottom
			.col-10
				.heading.primary-heading
					+primary-heading('Instagram', '#r-energy')
			.col-2
				.icon-holder
					i.fa.fa-instagram(aria-hidden='true')

	include ../_instagram-slider/_instagram-slider

// instagram end