.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_left {
	font-size:(15/10)*1rem;
	width:(19.779/15)*1em;
}
.icon-arrow_right {
	font-size:(15/10)*1rem;
	width:(19.779/15)*1em;
}
.icon-bag {
	font-size:(16/10)*1rem;
	width:(12.8/16)*1em;
}
.icon-battery {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-battery-1 {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-bicycle {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-bin {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-bio {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-bolt {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-bolt-2 {
	font-size:(632/10)*1rem;
	width:(632/632)*1em;
}
.icon-book {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-bulb {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-calendar {
	font-size:(16/10)*1rem;
	width:(14.389/16)*1em;
}
.icon-check {
	font-size:(45.7/10)*1rem;
	width:(45.7/45.7)*1em;
}
.icon-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icon-cloud {
	font-size:(12.508/10)*1rem;
	width:(16/12.508)*1em;
}
.icon-co2 {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-comment {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-confirm {
	font-size:(492/10)*1rem;
	width:(492/492)*1em;
}
.icon-controls {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-eco {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-eco-fuel {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-eco-home {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-electric-car {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-electric-station {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-electricity {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-envelope {
	font-size:(483.3/10)*1rem;
	width:(483.3/483.3)*1em;
}
.icon-excessenergy {
	font-size:(70/10)*1rem;
	width:(71.708/70)*1em;
}
.icon-eye {
	font-size:(488.85/10)*1rem;
	width:(488.85/488.85)*1em;
}
.icon-factory {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-factory-1 {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-fire {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-gear {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-green {
	font-size:(481/10)*1rem;
	width:(481/481)*1em;
}
.icon-heart {
	font-size:(67.95/10)*1rem;
	width:(67.95/67.95)*1em;
}
.icon-home {
	font-size:(306.77/10)*1rem;
	width:(306.77/306.77)*1em;
}
.icon-info {
	font-size:(510/10)*1rem;
	width:(510/510)*1em;
}
.icon-inverter {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-led-bulb {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-lighting {
	font-size:(70/10)*1rem;
	width:(35.657/70)*1em;
}
.icon-locationpin {
	font-size:(16/10)*1rem;
	width:(11.933/16)*1em;
}
.icon-logo {
	font-size:(640/10)*1rem;
	width:(666/640)*1em;
}
.icon-logo1 {
	font-size:(383.185/10)*1rem;
	width:(435.889/383.185)*1em;
}
.icon-logo2 {
	font-size:(374.858/10)*1rem;
	width:(318.607/374.858)*1em;
}
.icon-logo3 {
	font-size:(262.151/10)*1rem;
	width:(328.113/262.151)*1em;
}
.icon-modules {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-navigation {
	font-size:(51.64/10)*1rem;
	width:(51.64/51.64)*1em;
}
.icon-nuclear {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-param-ic-1 {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-param-ic-2 {
	font-size:(632/10)*1rem;
	width:(632/632)*1em;
}
.icon-param-ic-3 {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-param-ic-4 {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-pdf {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-plant {
	font-size:(482/10)*1rem;
	width:(482/482)*1em;
}
.icon-plastic-bottle {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-portfolio {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-powerlines {
	font-size:(70/10)*1rem;
	width:(58.667/70)*1em;
}
.icon-previous {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-puzzle {
	font-size:(535.5/10)*1rem;
	width:(535.5/535.5)*1em;
}
.icon-recycle {
	font-size:(488/10)*1rem;
	width:(488/488)*1em;
}
.icon-refresh {
	font-size:(56.86/10)*1rem;
	width:(56.86/56.86)*1em;
}
.icon-reuse {
	font-size:(648/10)*1rem;
	width:(648/648)*1em;
}
.icon-scalendar {
	font-size:(22/10)*1rem;
	width:(20/22)*1em;
}
.icon-science {
	font-size:(484/10)*1rem;
	width:(484/484)*1em;
}
.icon-search {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-settings {
	font-size:(507.45/10)*1rem;
	width:(507.451/507.45)*1em;
}
.icon-shopping-bag {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-shuffle {
	font-size:(11.937/10)*1rem;
	width:(16/11.937)*1em;
}
.icon-solar-energy {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-solar-panel {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-star {
	font-size:(19.48/10)*1rem;
	width:(19.48/19.48)*1em;
}
.icon-supportrepair {
	font-size:(70/10)*1rem;
	width:(70/70)*1em;
}
.icon-tilemode {
	font-size:(22/10)*1rem;
	width:(21.999/22)*1em;
}
.icon-trees {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
.icon-turbine {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-user {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-user-ic {
	font-size:(408/10)*1rem;
	width:(408/408)*1em;
}
.icon-warranty {
	font-size:(39.883/10)*1rem;
	width:(33.996/39.883)*1em;
}
.icon-water-cycle {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
.icon-water-tap {
	font-size:(472/10)*1rem;
	width:(472/472)*1em;
}
.icon-windmill {
	font-size:(640/10)*1rem;
	width:(640/640)*1em;
}
