// addition slider start

.additional-slider

	// item start
	.slider-item
		figure.product-item.product-item--primary
			a(href="shop-product.html").img-holder
				img(src="img/add-img-1.png" alt="product")
			figcaption
				span.description.price $ 1250.00
				h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
				+with-line('Add to cart')
	// item end

	// item start
	.slider-item
		figure.product-item.product-item--primary
			a(href="shop-product.html").img-holder
				img(src="img/add-img-2.png" alt="product")
			figcaption
				span.description.price $ 900.00
				h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
				+with-line('Add to cart')
	// item end

	// item start
	.slider-item
		figure.product-item.product-item--primary
			a(href="shop-product.html").img-holder
				img(src="img/add-img-3.png" alt="product")
			figcaption
				span.description.price $ 950.00
				h4.title #[a(href="shop-product.html") DUOMAX-PEG40.07]
				+with-line('Add to cart')
	// item end

	// item start
	.slider-item
		figure.product-item.product-item--primary
			a(href="shop-product.html").img-holder
				img(src="img/add-img-4.png" alt="product")
			figcaption
				span.description.price $ 1150.00
				h4.title #[a(href="shop-product.html") DUOMAX M PLUS - DEG5(II)]
				+with-line('Add to cart')
	// item end

// addition slider end