// brands slider start

.brands-holder

	.brands-slider

		// item start
		.slider-item
			img(src="img/brand-1.png" alt="brand")
		// item end

		// item start
		.slider-item
			img(src="img/brand-2.png" alt="brand")
		// item end

		// item start
		.slider-item
			img(src="img/brand-3.png" alt="brand")
		// item end

		// item start
		.slider-item
			img(src="img/brand-4.png" alt="brand")
		// item end

		// item start
		.slider-item
			img(src="img/brand-5.png" alt="brand")
		// item end

	.brands-dots

// brands slider end