// rating stars start

.stars
	.rating-group
		input#rating1-0.rating__input.rating__input--none(checked='' name='rating1' value='0' type='radio')
		label.rating__label(aria-label='0 stars' for='rating1-0') &nbsp;
		label.rating__label.rating__label--half(aria-label='0.5 stars' for='rating1-05')
			i.rating__icon.rating__icon--star.fa.fa-star-half
		input#rating1-05.rating__input(name='rating1' value='0.5' type='radio')
		label.rating__label(aria-label='1 star' for='rating1-10')
			i.rating__icon.rating__icon--star.fa.fa-star
		input#rating1-10.rating__input(name='rating1' value='1' type='radio')
		label.rating__label.rating__label--half(aria-label='1.5 stars' for='rating1-15')
			i.rating__icon.rating__icon--star.fa.fa-star-half
		input#rating1-15.rating__input(name='rating1' value='1.5' type='radio')
		label.rating__label(aria-label='2 stars' for='rating1-20')
			i.rating__icon.rating__icon--star.fa.fa-star
		input#rating1-20.rating__input(name='rating1' value='2' type='radio')
		label.rating__label.rating__label--half(aria-label='2.5 stars' for='rating1-25')
			i.rating__icon.rating__icon--star.fa.fa-star-half
		input#rating1-25.rating__input(name='rating1' value='2.5' type='radio')
		label.rating__label(aria-label='3 stars' for='rating1-30')
			i.rating__icon.rating__icon--star.fa.fa-star
		input#rating1-30.rating__input(name='rating1' value='3' type='radio')
		label.rating__label.rating__label--half(aria-label='3.5 stars' for='rating1-35')
			i.rating__icon.rating__icon--star.fa.fa-star-half
		input#rating1-35.rating__input(name='rating1' value='3.5' type='radio' checked='')
		label.rating__label(aria-label='4 stars' for='rating1-40')
			i.rating__icon.rating__icon--star.fa.fa-star
		input#rating1-40.rating__input(name='rating1' value='4' type='radio')
		label.rating__label.rating__label--half(aria-label='4.5 stars' for='rating1-45')
			i.rating__icon.rating__icon--star.fa.fa-star-half
		input#rating1-45.rating__input(name='rating1' value='4.5' type='radio')
		label.rating__label(aria-label='5 stars' for='rating1-50')
			i.rating__icon.rating__icon--star.fa.fa-star
		input#rating1-50.rating__input(name='rating1' value='5' type='radio')

// rating stars end