// services start

section.section.services
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('services', 'We provide', 'Creative Services')
					p R-energy accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contributing to EAZA being
	.container
		.row.offset-margin
			.col-md-3.col-6

				// icon item start
				figure.icon-item.icon-item--primary
					.img-holder
						img(src="img/serv-1.png" alt="sun")
					figcaption
						h4.title Sun Energy
				// icon item end

			.col-md-3.col-6

				// icon item start
				figure.icon-item.icon-item--primary
					.img-holder
						img(src="img/serv-2.png" alt="water")
					figcaption
						h4.title Water Energy
				// icon item end

			.col-md-3.col-6

				// icon item start
				figure.icon-item.icon-item--primary
					.img-holder
						img(src="img/serv-3.png" alt="wind")
					figcaption
						h4.title Wind Energy
				// icon item end

			.col-md-3.col-6

				// icon item start
				figure.icon-item.icon-item--primary
					.img-holder
						img(src="img/serv-4.png" alt="bio")
					figcaption
						h4.title Bio Energy
				// icon item end

// services end