// statistics start

section.section.statistics
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Statistics', 'Pure Numbers', 'and Only')

	.counter-block.counter--text-lower
		.container
			.row.no-gutters.counter-holder.offset-margin
				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 50
						span.description Cities
					// statistics item end

				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 700
						span.description Projects
					// statistics item end

				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 200
						span.description Companies
					// statistics item end

// statistics end