// map section start

section.section.map-section

	include ../_contact-form/_contact-form

	#map.map(data-api-key="AIzaSyD5ES8GFHrarPhIVpDhFDea6fPtga0Wy4Y" data-longitude="-9.141827" data-latitude="38.737749" data-marker="img/placeholder.png")

// map section end