// benefits start

section.section.benefits.no-padding-top
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Benefits', 'We in', 'the World')
					p Lagena Moses sole, sculpin: squaretail; rockling manefish Pacific salmon smalltooth sawfish shovelnose sturgeon velvet-belly shark Devario giant sea bass.

	.bg-holder(style="background-image: url('img/map-img.png');")

	.counter-block.counter--text-lower.counter--is-blue
		.container
			.row.offset-margin
				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 50
						span.description Cities
					// statistics item end

				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 700
						span.description Projects
					// statistics item end

				.col-sm-4

					// statistics item start
					.statistics-item
						span.counter 200
						span.description Companies
					// statistics item end

// benefits end