// brands-with-heading start

section.section.brands.brands--with-heading
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Partners', 'R-energy', 'Brands')
	.container
		.row
			.col-12
				include ../_brands-slider/_brands-slider

// brands-with-heading end