// books start

section.section.books
	.container
		.row.offset-margin
			.col-md-6

				// item start
				figure.book-item
					.img-holder
						img.img-bg(src="img/book-1.png" alt="img")
					figcaption
						h4.title
							a(href="#") DUOMAX eBook
						.text-holder
							p.text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer 
						+with-line('Download eBook')
				// item end

			.col-md-6

				// item start
				figure.book-item
					.img-holder
						img.img-bg(src="img/book-2.png" alt="img")
					figcaption
						h4.title
							a(href="#") DUOMAX White Paper Download
						.text-holder
							p.text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer
						+with-line('Download PDF')
				// item end

// books end