// additional start

section.section.additional.no-padding-top
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Our Products', 'You Might', 'be Interested')
	.container
		.row
			.col-12
				include ../_additional-slider/_additional-slider

				.additional-dots

// additional end