// icon list--primary start

section.icon-list.icon-list--primary
	.container
		.row.offset-margin
			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('solar-panel')
					figcaption
						h4.title Solar Panel Installation
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('windmill')
					figcaption
						h4.title Windmill Installation
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('bolt')
					figcaption
						h4.title Global Energy Network
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('solar-energy')
					figcaption
						h4.title Sun Energy Analitics
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('powerlines')
					figcaption
						h4.title Technological Power Lines
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('lighting')
					figcaption
						h4.title Economical Lighting
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('supportrepair')
					figcaption
						h4.title Support and Repair
				// item end

			.col-lg-3.col-sm-4.col-6

				// item start
				figure.icon-item.icon-item--primary
					.img-holder
						+svg('excessenergy')
					figcaption
						h4.title Recycling Excess Energy
				// item end

// icon list--primary end