// 404 start

section.section.error
	.container
		.row
			.col-12
				.heading.primary-heading
					h5.subtitle #[span Someting] #[span Went Wrong]
					p The page not found
					a.button.button--filled(href='index.html' data-hover='Home Page')
						span Home Page
// 404 end