// product tabs start

.tabs-holder.product-tabs

	// tabs header start
	.tabs-header
		span.tabs-header__title All Products
		span.tabs-header__title Sun Energy
		span.tabs-header__title Water Energy
		span.tabs-header__title Wind Energy
		span.tabs-header__title Bio Energy
	// tabs header end

	// tabs content start
	.tabs-content

		// tabs content items start
		.tabs-content__item
			.row
				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-1.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-2.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-3.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG40.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-4.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX M PLUS - DEG5(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-5.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-6.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-7.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX M PLUS-DEG5.07(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-8.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX M PLUS - DEG5(II)]
							+btn-black('Details')
					// item end

			.row
				.col-12
					include ../_pagination/_pagination
		// tabs content items end

		// tabs content items start
		.tabs-content__item
			.row
				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-1.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
							+btn-black('Details')
					// item end

			.row
				.col-12
					include ../_pagination/_pagination                    
		// tabs content items end

		// tabs content items start
		.tabs-content__item
			.row
				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-2.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-3.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG40.07]
							+btn-black('Details')
					// item end

			.row
				.col-12
					include ../_pagination/_pagination
		// tabs content items end

		// tabs content items start
		.tabs-content__item
			.row
				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-1.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-2.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-3.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG40.07]
							+btn-black('Details')
					// item end

			.row
				.col-12
					include ../_pagination/_pagination
		// tabs content items end

		// tabs content items start
		.tabs-content__item
			.row
				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-1.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX twin-DEG5C.07(II)]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-2.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG5.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-3.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX-PEG40.07]
							+btn-black('Details')
					// item end

				.col-xl-3.col-md-4.col-sm-6

					// item start
					figure.product-item.product-item--with-button
						a(href="shop-product.html").img-holder
							img(src="img/product-4.png" alt="product")
						figcaption
							span.description White EVA - 60 Cell
							h4.title #[a(href="shop-product.html") DUOMAX M PLUS - DEG5(II)]
							+btn-black('Details')
					// item end

			.row
				.col-12
					include ../_pagination/_pagination
		// tabs content items end

	// tabs content end

// product tabs end