// blog detail start

section.section.blog-detail
	.container
		.row
			.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1

				// promo holder start
				.promo-holder
					img(src="img/blog-detail-img.jpg" alt="img")
				// promo holder end

	.container
		.row
			.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1

				// author start
				.author
					.author-block
						.img-holder
							img.img-bg(src="img/author-img.jpg" alt="img")
						span.name Katty Greybrown
					.date-block
						+svg('calendar')
						span.date 25.02.2019
				// author end

	.container
		.row
			.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1

				// content block start
				.content-block
					p Firefish spiny-back elasmobranch scorpionfish sheepshead rock beauty sand eel. Skilfish barramundi Rainbowfish lake chub smelt pink salmon halosaur streamer fish Black pickerel tope barbeled dragonfish? Codling darter bleak shortnose sucker tubeshoulder silverside gulper yellow jack rudd North American darter. Fingerfish bala shark sand diver pearlfish tang yellowtail amberjack, gar.
					p Port Jackson shark Reedfish Atlantic silverside, Indian mul sandroller rockfish steelhead moray eel. Fingerfish; deep sea anglerfish, greenling halfbeak bottlenose Kafue pike orangestriped triggerfish, "golden dojo moray eel ghost knifefish eeltail catfish fangtooth Russian sturgeon dogfish shark."
					h3.title #[span Solar Energy is] Powerfull
					p Man-of-war fish yellowfin croaker redtooth triggerfish bleak, grouper. Bonytail chub danio blackfish stream catfish porbeagle shark mooneye southern grayling angler cichlid forehead brooder lagena slimehead tuna sea snail. Gizzard shad, yellowfin pike, pencil catfish. Mackerel shark midshipman, grunt, whiff collared dogfish trout cod dottyback ghost fish; ling cod scat flagfish? Boafish squarehead catfish Red whalefish dhufish bangus, sea raven Billfish rivuline eagle ray tilapia roughy. Knifejaw crappie bream cuskfish bowfin tenpounder northern Stargazer bleak, longnose dace Asian carps pigfish squeaker.
					blockquote
						p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder.
					p European flounder armored searobin Bengal danio, "Pacific cod Pacific cod perch starry flounder torpedo tadpole cod gianttail." Golden dojo glass knifefish slimy sculpin convict blenny broadband dogfish Atlantic cod boafish, longnose dace, bonytongue striped bass largemouth bass scaleless black dragonfish."
					p Redmouth whalefish warty angler olive flounder yellow-and-black triplefin, chimaera sardine yellow tang dogteeth tetra blue whiting. Electric catfish electric catfish coelacanth squawfish; squeaker: skilfish Rio Grande perch scorpionfish Raccoon butterfly fish alfonsino Bigscale pomfret."
					.iframe-holder.embed-responsive.embed-responsive-16by9
						iframe.responsive-iframe(src='https://www.youtube.com/embed/1kUE0BZtTRc?rel=0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
					p Yellowtail clownfish snake eel escolar blue whiting splitfin, hardhead catfish paradise fish! Whitebait discus, arapaima rockfish, tiger shovelnose catfish. Woody sculpin dorab, surgeonfish bowfin yellow-eye mullet--stonecat grouper bigscale fish blue shark powen eeltail catfish. Weever long-finned char Australian grayling poacher cow shark rocket danio popeye catafula false brotula requiem shark kelp perch

					// tags block start
					.tags-block
						span.name Tags:
						span.tag Solar
							span.close
								+svg('close')
						span.tag Windmill
							span.close
								+svg('close')
						span.tag Power
							span.close
								+svg('close')
						span.tag Conservation
							span.close
								+svg('close')
					// tags block end

				// content block end
	.container
		.row
			.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1

				include ../_comments-block/_comments-block

// blog detail end