// testimonials-img-right start

section.section.testimonials.testimonials--img-right
	.container
		.row
			.col-12
				.wrapper

					// text-block start
					.text-block

						// heading start
						.heading.primary-heading
							.row.align-items-end
								.col-md-8
									+primary-heading('Testimonials', 'People', 'Says')
								.col-md-4
									.testimonials-dots
						// heading end

						// content start
						.content

							// testimonials slider start
							.testimonials-slider.testimonials-img-right-slider
								// item start
								.slider-item
									p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish.
									span.user #[span.name Sam Fisher]
								// item end

								// item start
								.slider-item
									p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
									p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
									span.user #[span.name Sam Fisher]
								// item end

								// item start
								.slider-item
									p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish.
									span.user #[span.name Sam Fisher]
								// item end

							// testimonials slider end

						// content end

					// text-block end

					// img block start
					.img-holder
						.overlay
						.quote-icon
							span “ 
						img.img-bg(src="img/man-2-img.jpg" alt="man")
					// img block end

// testimonials-img-right end