// cooperation slider start

.cooperation-slider

	// item start
	.slider-item
		.top
			p #[span.current 01] / #[span.total 06]
		.lower
			h4.title Enviroment Analitic
			p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish
	// item end 

	// item start
	.slider-item
		.top
			p #[span.current 02] / #[span.total 06]
		.lower
			h4.title Preparing Documentation
			p Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder 
	// item end

	// item start
	.slider-item
		.top
			p #[span.current 03] / #[span.total 06]
		.lower
			h4.title Equipment Installation
			p Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish
	// item end

	// item start
	.slider-item
		.top
			p #[span.current 04] / #[span.total 06]
		.lower
			h4.title Technical Support
			p European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole 
	// item end

	// item start
	.slider-item
		.top
			p #[span.current 05] / #[span.total 06]
		.lower
			h4.title Payment Method 
			p Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish
	// item end

	// item start
	.slider-item
		.top
			p #[span.current 06] / #[span.total 06]
		.lower
			h4.title Enviroment Analitic
			p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish
	// item end

// cooperation slider end