// blog inner start

section.section.blog-inner
	.container
		.row.blog-masonry.offset-margin

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-1.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Clean Energy without CO2]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...] 
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar systems
							h4.title #[a(href="blog-detail.html") Surviving sustainably  on solar]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...] 
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-2.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Renewable Energy for Business]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-3.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Onsite solar to power]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-4.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") What to do about PG&E]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") FERC takes a firm stand in PG&E]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...] 
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-5.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Wind Farms Now More Affordable]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-6.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Good Public Policy Key]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-7.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Despite criticism, solar roads remain]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Shedding light on the Hitachi]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...] 
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-8.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Nexans connects 88 MW]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Two Rural Electric Cooperatives]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...] 
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-9.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Windmill Technology
							h4.title #[a(href="blog-detail.html") Wind Farms Now More Affordable]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-10.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Reshaping Energy Systems]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

			// item start
			.masonry-item
				.col-12
					.blog-inner-item.blog-item
						a.img-holder(href="blog-detail.html")
							.overlay
								img.img-bg(src='img/blog-in-11.jpg' alt='img')
						.content-holder
							.ribbon
								p . #[span.day 25]/#[span.month 12]
							span.category Solar Systems
							h4.title #[a(href="blog-detail.html") Clean Energy Leadership]
							.text-holder
								p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European black dragonfish batfish [...]
			// item end

		.button-holder
			+btn-black('Show More')

// blog inner end