// services inner start

section.section.services-inner
	.container
		.row.margin-bottom
			.col-lx-7.col-lg-6
				.heading.primary-heading.inner-heading
					.title-holder
						.title-block
							h3.title Services
							p.subtitle Welcome to Great#[br] R-Energy Services
						.img-block
							+svg('logo')
			.col-lx-5.col-lg-6
				.heading-description
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring. Moses

	.content-holder
		span.info Awesome Services for your business and home
		.container
			.row.offset-margin
				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-1.jpg" alt="service")
						.info-box__category Sun Energy
						.info-box__description
							.info-box__number 01
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Solar Panels
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-2.jpg" alt="service")
						.info-box__category Wind Energy
						.info-box__description
							.info-box__number 02
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Windmill Installation
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-3.jpg" alt="service")
						.info-box__category Green Energy
						.info-box__description
							.info-box__number 03
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Elctricity Station
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-4.jpg" alt="service")
						.info-box__category Sun Energy
						.info-box__description
							.info-box__number 04
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Inspection and Repair
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-5.jpg" alt="service")
						.info-box__category Wind Energy
						.info-box__description
							.info-box__number 05
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Construction Consultancy
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

					// item start
					.info-box
						.info-box__img
							img(src="img/serv-in-bg-6.jpg" alt="service")
						.info-box__category Green Energy
						.info-box__description
							.info-box__number 06
							.info-box__inner
								h4.info-box__title 
									a(href="services-details.html") Research Solar Batteries
									i.fa.fa-chevron-right(aria-hidden="true")
								.info-box__hidden
									p Canthigaster rostrata spikefish brown trout loach summer flounder. European minnow black dragonfish orbicular
									a.info-box__link.with--line(href="services-details.html") Explore more
					// item end

// services inner end