// cases slider start

.cases-slider-holder

	.cases-slider

		// item start
		.slider-item
			figure
				a(href="#").img-holder
					.overlay
					img.img-bg(src="img/blog-in-8.jpg" alt="img")
				figcaption
					h5.title 
						a(href="#") Renewable Energy Station
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European.
					+btn-transp('Explore more')
		// item end

		// item start
		.slider-item
			figure
				a(href="#").img-holder
					.overlay
					img.img-bg(src="img/gallery-7.jpg" alt="img")
				figcaption
					h5.title
						a(href="#") Renewable Energy Station
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European.
					+btn-transp('Explore more')
		// item end

		// item start
		.slider-item
			figure
				a(href="#").img-holder
					.overlay
					img.img-bg(src="img/blog-in-6.jpg" alt="img")
				figcaption
					h5.title
						a(href="#") Renewable Energy Station
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European.
					+btn-transp('Explore more')
		// item end

		// item start
		.slider-item
			figure
				a(href="#").img-holder
					.overlay
					img.img-bg(src="img/blog-in-5.jpg" alt="img")
				figcaption
					h5.title 
						a(href="#") Renewable Energy Station
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European.
					+btn-transp('Explore more')
		// item end

	.cases-dots

	// cases slider end