// team start

section.section.team
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Our crew', 'Meet the', 'Team')
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach

	.container
		.row.offset-margin
			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-1.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Florian Bottmann
							span.position Partner & CEO
				// item end

			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-2.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Fynn Kliemann
							span.position Chief Technology Officer
				// item end

			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-3.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Matt Harpin
							span.position Chief Financial Officer
				// item end

			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-4.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Carla Santos
							span.position Chief People Officer
				// item end

			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-5.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Gary Hides
							span.position Learning & Career Manager
				// item end

			.col-lg-4.col-sm-6

				// item start
				.team-item.team-item--primary
					.img-holder
						img.img-bg(src="img/team-bg-6.jpg" alt="img")
						include ../_socials-primary/_socials-primary
						.description
							span.name Georgina Wilson
							span.position Office Manager
				// item end

// team end