// pricing start

section.section.pricing.no-padding-bottom
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Pricing', 'Pricing Plan', 'for you')
					p Members are proactive in both undertaking and applying animal welfare scientific research, contributing being a recognised organisation in animal welfare best-practice.

	include ../_pricing-table/_pricing-table

// pricing end