// pricing-inner start

section.section.pricing--inner
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Pricing', 'Pricing Plan', 'for you')
					p Members are proactive in both undertaking and applying animal welfare scientific research, contributing being a recognised organisation in animal welfare.

	// pricing table inner start
	.pricing-table--inner.is--gray
		.container
			.row
				.col-lg-12.col-sm-6.col-12

					// pricing item start
					.pricing-item
						.row.align-items-center
							.col-lg-3
								h4.title Solar Panel Installation
							.col-lg-5
								p.description [ Prepare for Installation Canthigaster rostrata  flounder ]
							.col-lg-2
								span.price $ 585
							.col-lg-2
								+btn-black('Get started')
					// pricing item end

				.col-lg-12.col-sm-6.col-12

					// pricing item start
					.pricing-item
						.row.align-items-center
							.col-lg-3
								h4.title Windmill Installation
							.col-lg-5
								p.description [ Prepare for Installation Canthigaster rostrata  flounder ]
							.col-lg-2
								span.price $ 630
							.col-lg-2
								+btn-black('Get started')
					// pricing item end

				.col-lg-12.col-sm-6.col-12

					// pricing item start
					.pricing-item.active
						.ribbon
							+svg('star')
						.row.align-items-center
							.col-lg-3
								h4.title Global Energy Network
							.col-lg-5
								p.description [ Prepare for Installation Canthigaster rostrata  flounder ]
							.col-lg-2
								span.price $ 720
							.col-lg-2
								+btn-black('Get started')
					// pricing item end

				.col-lg-12.col-sm-6.col-12

					// pricing item start
					.pricing-item
						.row.align-items-center
							.col-lg-3
								h4.title Sun Energy Analitics
							.col-lg-5
								p.description [ Prepare for Installation Canthigaster rostrata  flounder ]
							.col-lg-2
								span.price $ 950
							.col-lg-2
								+btn-black('Get started')
					// pricing item end

	// pricing table inner start 

// pricing-inner end