// news-style-3 start

section.section.news--style-3
	.container
		.row.offset-margin

			.col-md-6
				.row
					.col-12
						.heading.primary-heading
							+primary-heading('Press Centre', 'News &', 'Events')
							p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach
							+btn-transp('View all')

						// item start
						.blog-item
							a.img-holder(href="blog-detail.html")
								.overlay
								img.img-bg(src='img/blog-bg-1.jpg' alt='img')
							.content-holder
								.ribbon
									p . #[span.day 25]/#[span.month 12]
								span.category Windmill Technology
								h4.title #[a(href="blog-detail.html") Clean Energy without CO2]
								.text-holder
									p.text Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout
						// item end

			.col-md-6
				.row
					.col-12

						// item start
						.blog-item
							a.img-holder(href="blog-detail.html")
								.overlay
								img.img-bg(src='img/blog-bg-2.jpg' alt='img')
							.content-holder
								.ribbon
									p . #[span.day 25]/#[span.month 12]
								span.category Solar Systems
								h4.title #[a(href="blog-detail.html") Renewable Energy for Business]
								.text-holder
									p.text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster
						// item end

						// item start
						.blog-item
							a.img-holder(href="blog-detail.html")
								.overlay
								img.img-bg(src='img/blog-in-6.jpg' alt='img')
							.content-holder
								.ribbon
									p . #[span.day 25]/#[span.month 12]
								span.category Solar Systems
								h4.title #[a(href="blog-detail.html") Crash test of photovoltaic module]
								.text-holder
									p.text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster
						// item end

// news-style-3 end