// cases details start

section.section.cases-details.no-padding-bottom
	.container
		.row
			.col-xl-6.col-lg-7

				// information block start
				.information-block
					.title-block
						h3.title Information
					.information-details
						.row
							.col-sm-4.col-6

								.detail
									+svg('locationpin')
									span Cleveland, Ohio

							.col-sm-4.col-6

								.detail
									+svg('comment')
									span 125 Reviews

							.col-sm-4.col-12

								.detail
									+svg('calendar')
									span Avainable in 5 days

					.information-content
						p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder.
						p European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring. Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish rohu yellow-and-black triplefin Atlantic saury swordfish southern
						p Scup stickleback Blobfish blue shark pumpkinseed Siamese fighting fish weeverfish. Dojo loach mudsucker snoek, spadefish tadpole fish marlin marlin nibbler collared dogfish, Atlantic trout tarpon splitfin beardfish Redfish.
				// information block end

				// technical block start
				.technical-block
					.row
						.col-12
							.title-block
								h3.title Technical
					.technical-content
						.row
							.col-sm-6

								// technical item start
								figure.technical-item
									.img-holder
										+svg('modules')
									figcaption
										span.title Modules
										p DUOMAX twin-DEG5C.07(II)
								// technical item end

							.col-sm-6

								// technical item start
								figure.technical-item
									.img-holder
										+svg('inverter')
									figcaption
										span.title Inverter
										p DUOMAX-PEG5.07
								// technical item end

							.col-sm-6

								// technical item start
								figure.technical-item
									.img-holder
										+svg('warranty')
									figcaption
										span.title Warranty
										p 10 + 25 years
								// technical item end

							.col-sm-6

								// technical item start
								figure.technical-item
									.img-holder
										+svg('warranty')
									figcaption
										span.title Warranty
										p 10 years
								// technical item end
								// technical block end

				// additional block start

				.additionals-block
					.row
						.col-12
							.title-block
								h3.title Additional Characteristic
					.row
						.col-12
							// table start
							.primary-table.characteristics-table
								.thead
									.table-row
										.table-cell
											h5.title Name
										.table-cell
											h5.title Value 1
										.table-cell
											h5.title Value 2
								.tbody
									.table-row
										.table-cell Height
										.table-cell 72″
										.table-cell 72″
									.table-row
										.table-cell Height
										.table-cell 33″
										.table-cell 44″
									.table-row
										.table-cell Depth
										.table-cell 35″
										.table-cell 35″
									.table-row
										.table-cell Weight
										.table-cell 510 lbs.
										.table-cell 610 lbs.
									.table-row
										.table-cell Electrical
										.table-cell 115 VAC
										.table-cell 120 VAC
									.table-row
										.table-cell Certifications
										.table-cell UL
										.table-cell CE

							// table end

				// additional block end

			.col-xl-5.offset-xl-1.col-lg-5

				// recommendation block start
				.recommendation-block
					.title-block
						.row
							.col-12
								h4.title Our Recommendation

					.recommendation-details
						.row
							.col-lg-6.col-md-3.col-6

								// detail item start
								.detail-item
									span.title Power
									p 4.86 kWp
								// detail item end

							.col-lg-6.col-md-3.col-6

								// detail item start
								.detail-item
									span.title Price
									p $ 12.850
								// detail item end

							.col-lg-6.col-md-3.col-6

								// detail item start
								.detail-item
									span.title Yearly ouyput
									p 4.900 kWh
								// detail item end

							.col-lg-6.col-md-3.col-6

								// detail item start
								.detail-item
									span.title Monthly
									p $ 120
								// detail item end

					.product-details
						.row
							.col-12
								span.title Products
								p DUOMAX twin-DEG5C.07(II), DUOMAX-PEG5.07

					.saving-details
						.row
							.col-12
								span.title Savings
								p #[span.count $ 24.900] / #[span.years 10] years

					.button-holder
						.row
							.col-12
								+btn-transp('Contact Installer')
				// recommendation block end

// cases details end