// app start

section.section.app
	.container
		.row
			.col-lg-6
				.heading.primary-heading
					+primary-heading('Mobile app', 'R-energy in', 'Your Phone')
					p Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring.
				.downloads-block
					a(href="#")
						img(src="img/google-badge.png" alt="google")
					a(href="#")
						img(src="img/apple-badge.png" alt="apple")
			.col-lg-6
				.img-block
					img(src="img/img-phone.png" alt="phone")

// app end