extends ../layouts/404.pug

block vars

	-var page = '404'

	-var type = 'inner'

block header

	include ../blocks/_mobile-menu/_mobile-menu

	include ../blocks/_header/_header

block main

	include ../blocks/_404/_404