extends ../layouts/primary-inner.pug

block vars

	-var page = 'products'

	-var type = 'inner'

block header

	include ../blocks/_mobile-menu/_mobile-menu

	include ../blocks/_header/_header

block promo

	picture
		source(srcset='img/products.jpg' media='(min-width: 992px)')
		img.jarallax-img.img-bg(src='img/products.jpg' alt='img')

	+promo-primary('Our Products')

block main

	include ../blocks/_inner-heading--with-bg/_inner-heading--with-bg

	include ../blocks/_products/_products

	include ../blocks/_brands--with-heading/_brands--with-heading

block footer

	include ../blocks/_footer/_footer