extends ../layouts/shop.pug

block vars

	-var page = 'shopping-cart'

	-var type = 'shop'

block header

	include ../blocks/_mobile-menu/_mobile-menu

	include ../blocks/_shop-header/_shop-header

block promo

	picture
		source(srcset='img/catalog-bg.jpg' media='(min-width: 992px)')
		img.img-bg(src='img/catalog-bg.jpg' alt='img')

	+shop-promo('Shopping Cart')

block main

	include ../blocks/_shopping-cart/_shopping-cart

block footer

	include ../blocks/_footer/_footer