// brands-style-2 start

section.section.brands--style-2
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Partners', 'R-Energy', 'Brands')

	.container
		.row
			.col-12

				.items-slider

					.slider-item

						// item start
						figure.brand-item--style-2
							.img-holder
								img(src="img/svg/logo1.svg" alt="logo")
							figcaption
								h4.title We keep adapting our M.O. to better
								p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout
						// item end

					.slider-item

						// item start
						figure.brand-item--style-2
							.img-holder
								img(src="img/svg/logo2.svg" alt="logo")
							figcaption
								h4.title We stand close to every to the span 
								p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout
						// item end

					.slider-item

						// item start
						figure.brand-item--style-2
							.img-holder
								img(src="img/svg/logo3.svg" alt="logo")
							figcaption
								h4.title We keep adapting our M.O. to better
								p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout
						// item end

// brands-style-2 end