// typography start

section.section.typography
	.container
		.row
			.col-12

				.block.heading-block

					h1(style="margin-bottom: 15px;") Heading 1
					h2(style="margin-bottom: 24px;") Heading 2
					h3(style="margin-bottom: 28px;") Heading 3
					h4(style="margin-bottom: 32px;") Heading 4
					h5 Heading 5

				.block.paragraph-block

					p Streamer fish California halibut Pacific saury. #[a(href="#") Slickhead grunion lake trout.] Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! #[strong Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel.] Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish.
					p Sucker lionfish garibaldi surgeonfish Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp. Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish, whiptail gulper chain pickerel beluga sturgeon. Mud catfish piranha skilfish warty angler North American darter bonnetmouth beaked salmon, gopher rockfish

				.block.dropcap-block
					h2.title Dropcap
					p.dropcap Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European 				minnow black dragonfish orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp. Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish, whiptail gulper chain pickerel beluga sturgeon. Mud catfish piranha skilfish warty angler North American darter bonnetmouth beaked salmon, gopher rockfish

				.block.blockquote-block
					h2.title Blockquote
					blockquote Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp. Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish, whiptail gulper chain pickerel beluga sturgeon. Mud catfish piranha skilfish warty angler North American darter bonnetmouth beaked salmon, gopher rockfish

				.block.list-block
					h2.title List style
					.lists-holder
						ul
							li Streamer fish California halibut Pacif
							li Slickhead grunion lake trout. 
							li Canthigaster rostrata spikefish 
							li Brown trout loach summer flounder
							li European minnow black dragonfish
							li Orbicular batfish stingray
						ol
							li Streamer fish California halibut Pacif
							li Slickhead grunion lake trout. 
							li Canthigaster rostrata spikefish 
							li Brown trout loach summer flounder
							li European minnow black dragonfish
							li Orbicular batfish stingray

				.block.text-block
					p.filled-text Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp. Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish, whiptail gulper chain pickerel beluga                 

// typography end