// cases-style-2 start

section.section.cases--style-2.no-padding-top
	.container
		.row.align-items-end.margin-bottom
			.col-lg-9
				.heading.primary-heading
					+primary-heading('We Created', 'Project', 'Cases')
					p.no-margin-bottom Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying
			.col-lg-3.text-lg-right.d-none.d-lg-block
				a.button.button--transparent.button--common(href="#" data-hover="More projects")
					span More projects

	include ../_cases-slider/_cases-slider

// cases-style-2 end