// features start

section.section.features.no-padding-bottom
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Features', 'Explore Our', 'Features')
	.container

		// feature item start
		.row.no-gutters.features-item.align-items-center
			.col-lg-6
				.img-holder
					img.img-bg(src="img/features-1.jpg" alt="image")
			.col-lg-5.offset-lg-1
				.text-holder
					span.count-bg 01
					span.count 01
					h3.title Problem solvers
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder!
					a.button.button--transparent.button--common(href="#" data-hover="Explore more")
						span Explore more
		// feature item end

		// feature item start
		.row.no-gutters.features-item.align-items-center
			.col-lg-5
				.text-holder
					span.count-bg 02
					span.count 02
					h3.title Critical thinkers
					p Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. 
					a.button.button--transparent.button--common(href="#" data-hover="Explore more")
						span Explore more
			.col-lg-6.offset-lg-1
				.img-holder
					img.img-bg(src="img/features-2.jpg" alt="image")
		// feature item end

// features end