// services details start

section.section.services-details
	// details tabs start
	.tabs-holder.details-tabs
		.container
			.row
				.col-xl-3.col-md-4

					// tabs header start
					.tabs-header
						span.tabs-header__title Solar Panel Installation
						span.tabs-header__title Windmill Installation
						span.tabs-header__title Global Energy Network
						span.tabs-header__title Sun Energy Analitics
						span.tabs-header__title Technological Power Lines
						span.tabs-header__title Economical Lighting
						span.tabs-header__title Support and Repair
						span.tabs-header__title Recycling Excess Energy
					// tabs header end

					// pdf holder start
					.pdf-holder(style="background-image: url('img/pdf-bg.png');")
						h4.title Clean Energy without CO2
						p Streamer fish California halibut Pacific saury
						+btn-black('Download PDF')  
					// pdf holder end

				.col-xl-9.col-md-8

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/details-img.jpg' media='(min-width: 992px)')
									img(src='img/details-img.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/blog-bg-1.jpg' media='(min-width: 992px)')
									img(src='img/blog-bg-1.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/blog-bg-2.jpg' media='(min-width: 992px)')
									img(src='img/blog-bg-2.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/promo-2.jpg' media='(min-width: 992px)')
									img(src='img/promo-2.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/details-img.jpg' media='(min-width: 992px)')
									img(src='img/details-img.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/blog-bg-1.jpg' media='(min-width: 992px)')
									img(src='img/blog-bg-1.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/blog-bg-2.jpg' media='(min-width: 992px)')
									img(src='img/blog-bg-2.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content start
					.tabs-content

						// tabs content item start
						.tabs-content__item
							.img-holder
								.overlay
								picture
									source(srcset='img/promo-2.jpg' media='(min-width: 992px)')
									img(src='img/promo-2.jpg' alt='img')
							h2.title Service Overview
							p Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.
							ul
								li Streamer fish California halibut Pacif
								li Slickhead grunion lake trout.
								li Canthigaster rostrata spikefish
								li Brown trout loach summer flounder
								li European minnow black dragonfish
								li Orbicular batfish stingray
							p Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.
						// tabs content item end

					// tabs content end
					// details tabs end  

// services details end