// cooperation start

section.section.cooperation
	.container
		.row
			.col-12
				.heading.primary-heading
					+primary-heading('Steps of cooperation', 'How', 'We work')
	.row.no-gutters
		.col-12
			include ../_cooperation-slider/_cooperation-slider 

// cooperation end