extends ../layouts/primary-inner.pug

block vars

	-var page = 'icon-list'

	-var type = 'elements'

block header

	include ../blocks/_mobile-menu/_mobile-menu

	include ../blocks/_header/_header

block promo

	picture
		source(srcset='img/elements.jpg' media='(min-width: 992px)')
		img.img-bg(src='img/elements.jpg' alt='img')

	+promo-primary('Icon List')

block main

	section.elements

		.element-holder
			.container
				.row
					.col-12
						h3.element-title Variant 1

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/1.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 1
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/2.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 2
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/3.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 3
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/4.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 4
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/5.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 5
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/6.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 6
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/7.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 7
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/8.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 8
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_1/9.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 9
							// item end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 2

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/1.svg" alt="icon")
								figcaption
									h4.title Icon 1
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/2.svg" alt="icon")
								figcaption
									h4.title Icon 2
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/3.svg" alt="icon")
								figcaption
									h4.title Icon 3
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/4.svg" alt="icon")
								figcaption
									h4.title Icon 4
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/5.svg" alt="icon")
								figcaption
									h4.title Icon 5
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/6.svg" alt="icon")
								figcaption
									h4.title Icon 6
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/7.svg" alt="icon")
								figcaption
									h4.title Icon 7
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/8.svg" alt="icon")
								figcaption
									h4.title Icon 8
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/9.svg" alt="icon")
								figcaption
									h4.title Icon 9
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/10.svg" alt="icon")
								figcaption
									h4.title Icon 10
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/11.svg" alt="icon")
								figcaption
									h4.title Icon 11
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/12.svg" alt="icon")
								figcaption
									h4.title Icon 12
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/13.svg" alt="icon")
								figcaption
									h4.title Icon 13
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/14.svg" alt="icon")
								figcaption
									h4.title Icon 14
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_2/15.svg" alt="icon")
								figcaption
									h4.title Icon 15
							// item end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 3

			// icon list-primary start

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('solar-panel')
								figcaption
									h4.title Solar Panel
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('windmill')
								figcaption
									h4.title Windmill
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bolt')
								figcaption
									h4.title Bolt
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('solar-energy')
								figcaption
									h4.title Solar Energy
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('powerlines')
								figcaption
									h4.title Power Lines
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('lighting')
								figcaption
									h4.title Bulb
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('supportrepair')
								figcaption
									h4.title Support and Repair
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('excessenergy')
								figcaption
									h4.title Recycling
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('shopping-bag')
								figcaption
									h4.title Shopping Bag
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('battery')
								figcaption
									h4.title Battery
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('battery-1')
								figcaption
									h4.title Battery
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bicycle')
								figcaption
									h4.title Bicycle
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bin')
								figcaption
									h4.title Bin
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bio')
								figcaption
									h4.title Bio
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bolt-2')
								figcaption
									h4.title Bolt
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('bulb')
								figcaption
									h4.title Bulb
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('book')
								figcaption
									h4.title Book
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('reuse')
								figcaption
									h4.title ReUse
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('electricity')
								figcaption
									h4.title Electricity
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('eco-fuel')
								figcaption
									h4.title Eco Fuel
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('eco-home')
								figcaption
									h4.title Eco Home
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('eco')
								figcaption
									h4.title Eco
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('electric-car')
								figcaption
									h4.title Electric Car
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('electric-station')
								figcaption
									h4.title Electric Station
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('gear')
								figcaption
									h4.title Gear
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('factory')
								figcaption
									h4.title Factory
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('factory-1')
								figcaption
									h4.title Factory
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('fire')
								figcaption
									h4.title Fire
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('led-bulb')
								figcaption
									h4.title Led Bulb
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('nuclear')
								figcaption
									h4.title Nuclear
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('green')
								figcaption
									h4.title Green
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('plant')
								figcaption
									h4.title Plant
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('plastic-bottle')
								figcaption
									h4.title Plastic Bottle
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('recycle')
								figcaption
									h4.title Recycle
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('science')
								figcaption
									h4.title Science
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('trees')
								figcaption
									h4.title Trees
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('turbine')
								figcaption
									h4.title Turbine
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('water-cycle')
								figcaption
									h4.title Water Cycle
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									+svg('water-tap')
								figcaption
									h4.title Water Tap
							// item end

			// icon list-primary end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 4

			// icon list-primary start

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/1.svg" alt="icon")
								figcaption
									h4.title Icon 1
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/2.svg" alt="icon")
								figcaption
									h4.title Icon 2
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/3.svg" alt="icon")
								figcaption
									h4.title Icon 3
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/4.svg" alt="icon")
								figcaption
									h4.title Icon 4
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/5.svg" alt="icon")
								figcaption
									h4.title Icon 5
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/6.svg" alt="icon")
								figcaption
									h4.title Icon 6
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/7.svg" alt="icon")
								figcaption
									h4.title Icon 7
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/8.svg" alt="icon")
								figcaption
									h4.title Icon 8
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/9.svg" alt="icon")
								figcaption
									h4.title Icon 9
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/10.svg" alt="icon")
								figcaption
									h4.title Icon 10
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/11.svg" alt="icon")
								figcaption
									h4.title Icon 11
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/12.svg" alt="icon")
								figcaption
									h4.title Icon 12
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/13.svg" alt="icon")
								figcaption
									h4.title Icon 13
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/14.svg" alt="icon")
								figcaption
									h4.title Icon 14
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/15.svg" alt="icon")
								figcaption
									h4.title Icon 15
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_4/16.svg" alt="icon")
								figcaption
									h4.title Icon 16
							// item end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 5

			include ../blocks/_icon-list--with-btn/_icon-list--with-btn

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 6

			// icon list-primary start

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/1.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 1
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/2.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 2
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/3.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 3
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/4.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 4
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/5.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 5
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/6.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 6
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/7.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 7
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/8.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 8
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/9.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 9
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_6/10.svg" alt="icon" style="height: 120px;")
								figcaption
									h4.title Icon 10
							// item end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 7

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/1.svg" alt="icon")
								figcaption
									h4.title Outline Icon 1
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/2.svg" alt="icon")
								figcaption
									h4.title Outline Icon 2
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/3.svg" alt="icon")
								figcaption
									h4.title Outline Icon 3
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/4.svg" alt="icon")
								figcaption
									h4.title Outline Icon 4
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/5.svg" alt="icon")
								figcaption
									h4.title Outline Icon 5
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/6.svg" alt="icon")
								figcaption
									h4.title Outline Icon 6
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/7.svg" alt="icon")
								figcaption
									h4.title Outline Icon 7
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/8.svg" alt="icon")
								figcaption
									h4.title Outline Icon 8
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/9.svg" alt="icon")
								figcaption
									h4.title Outline Icon 9
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/10.svg" alt="icon")
								figcaption
									h4.title Outline Icon 10
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/11.svg" alt="icon")
								figcaption
									h4.title Outline Icon 11
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/12.svg" alt="icon")
								figcaption
									h4.title Outline Icon 12
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/13.svg" alt="icon")
								figcaption
									h4.title Outline Icon 13
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/14.svg" alt="icon")
								figcaption
									h4.title Outline Icon 14
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/15.svg" alt="icon")
								figcaption
									h4.title Outline Icon 15
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/16.svg" alt="icon")
								figcaption
									h4.title Outline Icon 16
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/17.svg" alt="icon")
								figcaption
									h4.title Outline Icon 17
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/18.svg" alt="icon")
								figcaption
									h4.title Outline Icon 18
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/19.svg" alt="icon")
								figcaption
									h4.title Outline Icon 19
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/20.svg" alt="icon")
								figcaption
									h4.title Outline Icon 20
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/21.svg" alt="icon")
								figcaption
									h4.title Outline Icon 21
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/22.svg" alt="icon")
								figcaption
									h4.title Outline Icon 22
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/23.svg" alt="icon")
								figcaption
									h4.title Outline Icon 23
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/24.svg" alt="icon")
								figcaption
									h4.title Outline Icon 24
							// item end

						.col-lg-3.col-sm-4.col-6

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_7/25.svg" alt="icon")
								figcaption
									h4.title Outline Icon 25
							// item end

		.element-holder.no-padding-top
			.container
				.row
					.col-12
						h3.element-title Variant 8

			// icon list-primary start

			section.icon-list.icon-list--primary
				.container
					.row.offset-margin
						.col-sm-6.col-12

							// item start
							figure.icon-item.icon-item--primary(style="padding-top: 26px")
								.img-holder
									img(src="img/svg/variant_8/1.svg" alt="icon" style="height: 175px;")
								figcaption
									h4.title Icon 1
							// item end

						.col-sm-6.col-12

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_8/2.svg" alt="icon" style="height: 200px;")
								figcaption
									h4.title Icon 2
							// item end

						.col-sm-6.col-12

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_8/3.svg" alt="icon" style="height: 200px;")
								figcaption
									h4.title Icon 3
							// item end

						.col-sm-6.col-12

							// item start
							figure.icon-item.icon-item--primary
								.img-holder
									img(src="img/svg/variant_8/4.svg" alt="icon" style="height:200px;")
								figcaption
									h4.title Icon 4
							// item end

block footer

	include ../blocks/_footer/_footer