extends ../layouts/primary-inner.pug

block vars

	-var page = 'pricing-tables'

	-var type = 'elements'

block header

	include ../blocks/_mobile-menu/_mobile-menu

	include ../blocks/_header/_header

block promo

	picture
		source(srcset='img/elements.jpg' media='(min-width: 992px)')
		img.img-bg(src='img/elements.jpg' alt='img')

	+promo-primary('Pricing Tables')

block main

	section.elements

		.element-holder
			.container
				.row
					.col-12
						h3.element-title Variant 1

			// pricing table start

			.pricing-table.pricing-table--primary
				.container
					.row.offset-margin
						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('solar-panel')
								figcaption
									h4.title Solar Panel Installation
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 585
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('windmill')
								figcaption
									h4.title Windmill Installation
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 630
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item.active
								.ribbon
									+svg('star')
								.img-holder
									+svg('bolt')
								figcaption
									h4.title Global Energy Network
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 720
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('solar-energy')
								figcaption
									h4.title Sun Energy Analitics
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 950
									.button-holder
										+btn-black('Get started')
							// item end

			// pricing table end

		.element-holder(style="background-color: #2C2F34;")
			.container
				.row
					.col-12
						h3.element-title(style="color: #FFFFFF;") Variant 2

			// pricing table start

			.pricing-table.pricing-table.is--dark
				.container
					.row.offset-margin
						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('solar-panel')
								figcaption
									h4.title Solar Panel Installation
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 585
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('windmill')
								figcaption
									h4.title Windmill Installation
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 630
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item.active
								.ribbon
									+svg('star')
								.img-holder
									+svg('bolt')
								figcaption
									h4.title Global Energy Network
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 720
									.button-holder
										+btn-black('Get started')
							// item end

						.col-lg-3.col-sm-6

							// item start
							figure.pricing-item
								.ribbon
									+svg('star')
								.img-holder
									+svg('solar-energy')
								figcaption
									h4.title Sun Energy Analitics
									ul.item-list
										li Prepare for Installation
										li Canthigaster rostrata
										li Spikefish brown trout
										li Loach summer flounder
									p.price $ 950
									.button-holder
										+btn-black('Get started')
							// item end

			// pricing table end

		.element-holder
			.container
				.row
					.col-12
						h3.element-title Variant 3

			include ../blocks/_pricing-table--inner/_pricing-table--inner

block footer

	include ../blocks/_footer/_footer