// video section start

section.section.video-section.no-padding-top.no-padding-bottom
	.container
		.row
			.col-12
				.img-holder
					.overlay
					picture
						source(srcset='img/video-sect-bg.jpg' media='(min-width: 992px)')
						img.img-bg(src='img/video-sect-bg.jpg' alt='img')
					a.fancy-video(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
						i.fa.fa-play(aria-hidden=true)
					span.text Video Presentation

// video section start