include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")

	block vars

	head

		include ../blocks/_head/_head

	body

		.page-wrapper

			block header

			main.main.error-main(style="background-image: url('img/404-bg.jpg');")

				block main

		include ../blocks/_scripts/_scripts