// contacts-banner start

.contacts-banner
	.container
		.row
			.col-12
				.title-block
					h2.title . #[span Our] Contacts
		.row
			.col-12
				.address-block.inner-block
					p.address Elliott Ave, Parkville VIC 3052 Melbourne Canada
			.col-12
				.phones-block.inner-block
					p
						a(href="tel:+31859644725") +31 85 964 47 25
					p
						a(href="tel:+31853255813") +31 85 325 58 13
			.col-12
				.mail-block.inner-block
					p
						a(href="mailto:r_energy@gmail.com") r_energy@gmail.com
					p
						a(href="mailto:r_energy_systems@gmail.com") r_energy_systems@gmail.com
		.row
			.col-12
				.button-holder
					+btn-filled('See Google Map')

// contacts-banner end