// socials start

nav.socials-holder
	ul.socials-primary
		li
			a(href="#")
				i.fa.fa-facebook(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-twitter(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-youtube-play(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-instagram(aria-hidden='true')

// socials end 